@charset "UTF-8";

/*
——Pretendard
    font-family: Pretendard, sans-serif;
*/

/* 
——Color
    Navy: #050e24
    Beige: #efe2d3
*/

/* Reset CSS */
* {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

/* Class Style */
.mg_auto {
    margin: 0% auto;
    max-width: 1320px;
}

.posi_rel {
    position: relative;
}

.posi_abs {
    position: absolute;
}

.posi_fix {
    position: fixed;
}

.user_select_none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.beige_filter {
    filter: invert(92%) sepia(15%) saturate(597%) hue-rotate(316deg) brightness(106%) contrast(87%);
}

.navy_filter {
    filter: invert(4%) sepia(35%) saturate(5915%) hue-rotate(219deg) brightness(93%) contrast(99%);
}

.small_title {
    font-size: 160%;
    letter-spacing: 2px;
    padding-bottom: 3%;
}

/* Main */
body {
    font-family: "Pretendard", sans-serif;
    font-size: 15px;
    color: #050e24;

    background-color: #fff;
    height: 3000px;

    overflow-x: hidden;
}

/* header */
header {
    top: 0%;
    left: 0%;
    z-index: 999;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .3s;

    padding: 1.5% 0%;

    color: #efe2d3;
}

header.on {
    background-color: rgba(255, 255, 255, 0.8);

    color: #050e24;
}

#logo img {
    height: 60px;
}

#gnb {
    display: flex;
    justify-content: center;

    width: 60%;
}

#gnb li {
    font-size: 125%;
    font-weight: 600;

    padding: 0% 3%;
}

#reserve_header {
    text-align: center;
}

#reserve_header img,
#reserve_aside img {
    height: 40px;
}

#reserve_header p,
#reserve_aside p {
    font-size: 75%;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 3px;
}

#reserve_aside {
    display: none;

    align-items: center;
    justify-content: center;
    text-align: center;

    top: 90%;
    right: 3%;
    z-index: 9999;

    width: 65px;
    height: 65px;

    background: #efe2d3;
    border-radius: 20%;
}

#reserve_aside p {
    color: #050e24;
}

/* slide - 햄버거 버튼 */
.slide-open {
    display: none;
    cursor: pointer;

    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    z-index: 999;
}

.slide-open img {
    max-width: 35px;
    max-height: 35px;
}

.slide-open img.on {
    width: 0;
}

/* slide - 메뉴 */
.slide {
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: 999;

    box-sizing: border-box;
    padding: 3%;
    width: 50%;

    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;

    background-color: #fff;
}

.slide.on {
    right: 0;
}

.slide ul li {
    display: inline-block;

    font-size: 125%;

    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    border-bottom: 2px solid #050e24;
}

.slide ul li:first-child {
    padding-top: 100px;
}

.btn_close {
    cursor: pointer;

    top: 3%;
    right: 8%;
    z-index: 999;
}

.btn_close img {
    max-height: 35px;
}

.slide_logo {
    top: 3%;
    left: 8%;
    z-index: 999;
}

.slide_logo img {
    max-height: 60px;
}

/* #main_banner */
#main_banner {
    height: 100vh;
    background: url(../images/banner_01.jpg) center center no-repeat;
    background-size: cover;
}

#main_banner>img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;
    padding: 15px;
    max-width: 100%;
}

/* #atta_banner */
#atta_banner {
    background: url(../images/background_onharu.png) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;

    overflow: hidden;
}

.atta_banner_text {
    display: flex;
    justify-content: right;
    align-items: end;
    text-align: right;

    font-size: 180%;
    line-height: 150%;

    padding-right: 30px;
    height: 450px;
    color: #efe2d3;
}

.atta_banner_text span {
    font-weight: 700;
}

.atta_banner_text p {
    bottom: 15%;
    right: 3%;
}

/* #container */
#container>section {
    padding: 5% 2%;
    padding-bottom: 0%;
}

/* #container #room_info */
.room_photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.room_photo li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.room_photo li img {
    width: 100%;
}

.room_photo li h3 {
    font-size: 150%;
    padding: 3% 0%;
}

.room_photo li p {
    font-size: 110%;
    line-height: 170%;
    padding-bottom: 5%;
}

/* #container #facility_info */
.facility_photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    color: #efe2d3;
}

.facility_photo li {
    width: 23%;
}

.facility_photo li img {
    width: 100%;
    height: 100%;
}

.facility_photo li div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
}

.facility_name {
    font-size: 150%;
    letter-spacing: 0.3em;
    padding-bottom: 0.5em;
}

.facility_exp {
    font-size: 14px;
    letter-spacing: 0.1em;
}

/* #container #qna */
#qna .qna_acc {
    box-sizing: border-box;

    width: 80%;

    background: #f7f2eb;
    border: 3px solid #050e24;
    border-radius: 25px;
}

#qna .qna_acc li {
    border-bottom: 3px solid #050e24;
}

#qna .qna_acc li:last-child {
    border: none;
}

.title {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2% 5%;
}

.title_in {
    font-size: 130%;
    font-weight: 700;
}

.text_info {
    display: none;

    font-size: 110%;
    padding: 0% 5% 2%;
}

.turn .title img {
    transform: rotate(180deg);
}

.acc_more img {
    width: 35px;
    height: 35px;
    transition: transform 0.5s;
}

/* #container #map */
#container #map {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3%;
}

#map .map_title {
    font-size: 120%;

    padding-top: 1%;
    padding-bottom: 0.5%;
}

#map .small_title,
#map .map_title,
#map .map_exp {
    padding-right: 3%;
    padding-left: 3%;
}

#map .map_exp a {
    display: inline-block;
    padding-left: 3%;
}

/* footer */
footer {
    background-color: #050e24;
    color: #efe2d3;
}

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
}

footer .terms .footer_terms {
    display: flex;
    padding-bottom: 5%;
}

footer .terms .footer_terms li {
    padding-right: 5%;
}

.footer_logo {
    text-align: right;
    width: 200px;
}

.footer_logo img {
    max-width: 100%;
}